# Backend
backend/target/
backend/.mvn/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/src/environments/environment.prod.ts

# Sekrety 
backend/src/main/resources/application.properties

# IDE
.vscode/
*.class

